 <div class="card-header">
        "{{ title }}"
        <span>Posted by {{ user.alias }} on {{ format_date created_at }} </span>
    </div>
    <div class="card-body">
        <p>{{ post_text }}</p>
    </div>