<article>
    <a class="btn" href="/dashboard/newpost">New Post</a>
</article>

<article>
    <ul>
        {{#each posts as |post|}}
        <li> 
            {{> edit-posts post}}
        </li>
        <br>
        {{/each}}
    </ul>
</article>