<article>
    <ul>
        {{#each posts as |post|}}
        <li>
            <div class="card">
            <a href="/post/{{ post.id }}">
                {{> post-info post }}
            </a>
            </div>
        </li>
        {{/each}}
    </ul>
</article>