<div class="card">
    <h4 class="card-header"></h4>
    <form class="card-body" id="post-form">
        <label class="form-label" for="title-post">Title:</label>
        <input name="title-post" id="title-post" type="text" class="form-input">

        <label class="form-label" for="text-post">Post Text:</label>
        <textarea name="text-post" id="text-post" class="form-input"></textarea>

        <button type="submit" class="btn text-uppercase">Post</button>

    </form>
</div>
<script src="/javascript/add-post.js"></script>